@bg-set: {
  gold: #31313b;
  2: #0195ef;
}

@color-set: {
  gold: #e4cb73;
  2: #fbfbfc;
}

@video-width: 80vw;


.space {
  width: 2vw;
  height: 100vh;
}

.videos {
  width: @video-width;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.clock {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw-@video-width;
  height: 100vh;
  font-size: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
}

.dot-wrap {
  display: flex;
}

.dot {
  width: 2vw;
  height: 2vw;
  border-radius: 4vw;
  margin-right: 6vw;
}

.dot:last-child {
  margin-right: 0;
}

each(@bg-set, {
    .awssld__content-@{key} {
      background-color: @value;
    }

    .wrapper-@{key} {
      background-color: @value;
    }
  }

);

each(@color-set, {
    .clock-@{key} {
      color: @value;
    }

    .dot-@{key} {
      background-color: @value;
    }
  }

);

.awssld,
.awssld__container {
  height: 100vh;
}

.awssld__content>img,
.awssld__content>video {
  object-fit: contain;
}